In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('population.csv')

In [4]:
df

    Year Population Growth Rate Growth Rate
0   2024         1,44,17,19,852       0.92%
1   2023         1,42,86,27,663       0.81%
2   2022         1,41,71,73,173       0.68%
3   2021         1,40,75,63,842       0.80%
4   2020         1,39,63,87,127       0.96%
..   ...                    ...         ...
70  1954           38,97,31,406       2.23%
71  1953           38,12,27,705       2.21%
72  1952           37,29,97,188       2.21%
73  1951           36,49,22,360       2.21%
74  1950           35,70,21,100       0.00%

[75 rows x 3 columns]